<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="tj2_romi_odom" pkg="tj2_romi_odom" type="tj2_romi_odom_node" output="screen" required="true">
        <param name="min_angular_speed" value="0.0"/>
        <param name="max_angular_speed" value="20.0"/>  <!-- 0.15? -->
        <param name="min_linear_speed" value="0.0"/>
        <param name="max_linear_speed" value="1.0"/>

        <param name="speed_smooth_k_left" value="0.8"/>
        <param name="speed_smooth_k_right" value="0.8"/>

        <param name="zero_speed_epsilon" value="0.01"/>
        <param name="publish_odom_tf" value="false"/>
    </node>
</launch>
