<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="tj2_romi_odom" pkg="tj2_romi_odom" type="tj2_romi_odom_node" output="screen" required="true">
        <param name="wheel_distance_m" value="0.11"/>

        <param name="min_angular_speed" value="0.75"/>
        <param name="max_angular_speed" value="9.30"/>
        <param name="min_linear_speed" value="0.1"/>
        <param name="max_linear_speed" value="0.66"/>
        <param name="max_cmd" value="0.009"/>
        <param name="min_cmd" value="-0.009"/>

        <param name="left_Kp" value="0.4"/>
        <param name="left_Ki" value="0.0"/>
        <param name="left_Kd" value="0.01"/>
        <param name="right_Kp" value="0.4"/>
        <param name="right_Ki" value="0.0"/>
        <param name="right_Kd" value="0.01"/>

        <param name="speed_smooth_k_left" value="0.7"/>
        <param name="speed_smooth_k_right" value="0.7"/>

        <param name="zero_speed_epsilon" value="0.01"/>
        <!-- <param name="publish_odom_tf" value="true"/> -->
        <param name="publish_odom_tf" value="false"/>

        <rosparam param="pose_covariances">
            [
                0.001, 0.0, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.001, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.0, 0.001, 0.0, 0.0, 0.0,
                0.0, 0.0, 0.0, 0.001, 0.0, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.001, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.0, 0.001
            ]
        </rosparam>
        <rosparam param="twist_covariances">
            [
                0.001, 0.0, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.001, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.0, 0.001, 0.0, 0.0, 0.0,
                0.0, 0.0, 0.0, 0.001, 0.0, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.001, 0.0,
                0.0, 0.0, 0.0, 0.0, 0.0, 0.001
            ]
        </rosparam>

    </node>
</launch>
