[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
Description=roslaunch

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/etc/systemd/system/ros/bin/roslaunch.sh
Restart=no
KillSignal=SIGINT
TimeoutStopSec=3
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
